* {
  margin: 0;
  padding: 0;
}

:root {
  --backgroundColor: rgb(33, 32, 2);
  --color: #caf11a;
  --display: flex;
}

nav {
  background-color: var(--backgroundColor);
  display: var(--display);
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  color: var(--color);
}

nav ul {
  text-decoration: none;
  display: var(--display);
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
  list-style: none;
  text-decoration: none;
  justify-content: center;
}
